.p-0 {
    padding: 0px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-20 {
    margin: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.text-capitalize {
    text-transform: capitalize;
}

.m-tb-20 {
    margin: 15px 0 15px 0;
}

.m-t-20 {
    margin-top: 20px;
}